#[build.environment]
#  NEXT_USE_NETLIFY_EDGE = "false"
[[plugins]]
  package = "@netlify/plugin-nextjs"


[functions]
  included_files = [
    "!node_modules/sharp/vendor/8.12.2/darwin-*/**/*",
    "!node_modules/sharp/build/Release/sharp-darwin-*"
  ]

[[redirects]]
  from = "/_next/image"
  to = "/.netlify/images?url=:url&w=:width&q=:quality"
  status = 200

  [redirects.query]
    url = ":url"
    w = ":width"
    q = ":quality"

[[redirects]]
  from = "/_ipx/*"
  to = "/.netlify/images?url=:url&w=:width&q=:quality"
  status = 200

  [redirects.query]
    url = ":url"
    w = ":width"
    q = ":quality"



[[redirects]]
  from = '/_next/image/*'
  query = { q = ':quality', url = ':url', w = ':width' }
  to = '/.netlify/images?url=:url&w=:width&q=:quality'
  status = 200
  force = true

[[redirects]]
  from = "/techniques-for-dyslexics-learning-music-kids-guitar-dojo-leads-the-way/"
  to = "/blog/techniques-for-dyslexics-learning-music-kids-guitar-dojo-leads-the-way"
  status = 301
  force = true

[[redirects]]
  from = "/easy-chords-for-tiny-fingers-strumming-lessons-for-a-five-year-old/"
  to = "/blog/fun-and-easy-ways-to-teach-a-child-guitar-chords"
  status = 301
  force = true

[[redirects]]
  from = "/what-size-guitar-is-best-for-my-child/"
  to = "/blog/whats-the-best-sized-guitar-for-a-child"
  status = 301
  force = true

[[redirects]]
  from = "/all-courses"
  to = "/the-course"
  status = 301
  force = true

[[redirects]]
  from = "/guitar-lessons-for-kids-exciting-new-program-mums-love"
  to = "/blog/guitar-lessons-for-kids--exciting-new-program-mums-love"
  status = 301
  force = true


[[redirects]]
  from = "/best-online-guitar-lessons-for-kids"
  to = "/"
  status = 301
  force = true


[[redirects]]
  from = "/privacy-policy-terms/"
  to = "/legal/privacy-notice-for-kids-guitar-dojo"
  status = 301
  force = true

[[redirects]]
  from = "/about/"
  to = "/our-story"
  status = 301
  force = true

[[redirects]]
  from = "/home/"
  to = "/"
  status = 301
  force = true

[[redirects]]
  from = "/terms-conditions/"
  to = "/legal/agreement-to-our-legal-terms"
  status = 301
  force = true

[[redirects]]
  from = "/faq/"
  to = "/pricing" # Adjust if a new location is required
  status = 301
  force = true


[[headers]]
    for = "/*"
    [headers.values]
        X-Frame-Options = "DENY"
        X-XSS-Protection = "1; mode=block"
        X-Content-Type-Options = "nosniff"
        Strict-Transport-Security = "max-age=31536000; includeSubDomains"
[[headers]]
    for = "/*"
    [headers.values]
        Strict-Transport-Security = '''
            max-age=63072000;
            includeSubDomains;
            preload'''
[[headers]]
  for = "/images/*"
  [headers.values]
    	cache-control = "public, max-age=31536000, immutable"
[[headers]]
  for = "/images/uploads/*"
  [headers.values]
    	cache-control = "public, max-age=31536000, immutable"
[[headers]]
  for = "*.jpg"
  [headers.values]
    	cache-control = "public, max-age=31536000, immutable"
[[headers]]
  for = "*.css"
  [headers.values]
    	cache-control = "public, max-age=31536000, immutable"
[[headers]]
  for = "*.js"
  [headers.values]
    	cache-control = "public, max-age=31536000, immutable"
[[headers]]
  for = "*.html"
  [headers.values]
    cache-control = '''
    max-age=0,
    no-cache,
    no-store,
    must-revalidate'''
#[[plugins]]
#    package = "netlify-plugin-csp-generator"

#    [plugins.inputs]
#        buildDir = "dist"

#    [plugins.inputs.policies]
#        defaultSrc = "'self'"
#        styleSrc = "'self' 'unsafe-hashes'"
