.lesson {
  @apply font-lesson-body;

  h1, h2, h3, h4, h5, h6 {
    @apply font-lesson-heading;
  }

  .heading {
    @apply font-lesson-heading;
  }

  .text-border {
    text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  }

  ol {

    margin: 0;
    padding: 0;
    list-style-type: none;

    li{
      @apply flex flex-row  items-start justify-start;
      counter-increment: step-counter;



      &:before {
        @apply font-lesson-heading mr-3 bg-amber-500 basis-10 text-white flex min-h-[40px] min-w-[40px] justify-center items-center text-shadow rounded-full w-[40px] h-[40px];
        content: counter(step-counter);
      }
    }
  }


  .speech-bubble {

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      top: 0px;

    }

    &.success{
      &:after{
        @apply border-green-500;
      }
    }

    &.error{
      &:after{
        @apply border-red-500;
      }
    }

    &.speech-bubble-bottom-right {

      &:after {
        border-width: 10px;
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-bottom-color: transparent !important;
        top: auto;
        right: 10px;
        bottom: - 10px;
      }
    }
  }

}
