@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #2c67dc;
    --color-secondary: #c2ff7a;
    --color-accent: #89ff00;
    --color-neutral: #c9d8f6;
    --color-base: #ffffff;
  }

  .rich-text-prose > p:first-of-type {
    margin-top: 0 !important;
  }

  .title {
    p > * {
      @apply font-extrabold text-primary;
    }
  }
}
